<h1>Seja Bem-Vindo</h1>
<ul>
  <li><%= link_to "Clientes", clientes_path %> </li>
  <li><%= link_to "Despesas", despesas_path %> </li>
  <li><%= link_to "Endereços", enderecos_path %> </li>
  <li><%= link_to "Matérias Primas", materia_primas_path %></li>
  <li><%= link_to "Produtos", produtos_path %></li>
  <li><%= link_to "Vendas", vendas_path %></li>
</ul>
